<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Motivational Duck</title>
    <script src="{{ url_for('static', filename='javascript/game.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body onload="init()">    
    <canvas id="canvas" width="100%" height="100%"></canvas>
    <img src="{{ url_for('static', filename='img/meadow.jpg') }}" id="meadow">
    <img src="{{ url_for('static', filename='img/duck.png') }}" id="duck">
</body>
</html>