html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

td {
    padding: 5px;
    height: 5px
}

#gameContainer {    
    width: 50%;
    height: 100%;          
    margin: 50px auto;
}

#title {
    color: #fe3c1e;
    text-shadow: 1px 1px 2px black;
    
}

.container {
    height: 100%;
    width: 10em;
    margin: 20px;
    display: block;
}

.shop {    
    float: left;
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    background-color: rgb(231, 231, 231);
    z-index: -2;
}

.shopItem {
    border-bottom: 1px solid black;
    padding: 5px;    
    font-size: small;
}

.itemName {
    font-weight: bold;
}

#duck {
    position: fixed;
    height: 500px;
    bottom: 0px;
    right: 0px;
    z-index: -2;
}

.text-button {
    width: 30%;
    margin-bottom: 10px;
}

#dollar {
    float: left;
}

#cash {
    margin-left: 5px;
    width: 70%;
    margin-bottom: 5px;
}

button {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:5px 8px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    z-index: 10;
}

button:hover {
	background-color:#5cbf2a;
}

button:active {
	position:relative;
	top:1px;
}

canvas {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
}